@charset "UTF-8";

/*fonte Nunito */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* fonte quicksilver */
@font-face {
    font-family: 'Quicksilver' ;
    src: url('fontes/Quicksilver.otf') format('opentype'), url('fontes/Quicksilver.ttf') format('trutype');
    font-style: normal;
    font-weight: normal;
}

/* animaçoes */

/* animação degrade */
@keyframes degrade{
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}

:root {
    --cor4: #F2668B;
    --cor1: #2E6F92;
    --cor2: #41E1F2;
    --cor3: #F2AC57;
    --cor0: #A09999;
  
    --fonte-padrão: 'Nunito', sans-serif;
    --fonte-destaque: 'Quicksilver','cursive'
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
    font-family: var(--fonte-padrão);
    font-size: 16px;
}

body{
    background-color: var(--cor1);
    color: white;
    padding: 0px 2%;
    margin: 0 auto;
}

/*Classes reutilizaveis */
.btn {
    font-weight: bolder;
    border-radius: 100px;
    padding: 5px 20px;
    background: linear-gradient(45deg, var(--cor2),  var(--cor3),
    var(--cor0));
    background-size: 400% 100%;
    animation: degrade 15s linear infinite alternate;
    cursor: pointer;
}

span{
    color: var(--cor3);
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
}

.logo{
    font: normal bold 2.5rem var(--fonte-destaque);
    cursor: pointer;
    background: linear-gradient(135deg, var(--cor3), var(--cor0), var(--cor2));
    background-size: 400% 100%;
    animation: degrade 30s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.nav > a{
    font-size: 1.2rem;
    margin: 1rem;
    color: white;
}

.nav > a:hover {
    color: var(--cor2);
}
/* fim do header */

/* section */
section{
    min-height: 100vh;
    border: solid 1px var(--cor3); 
    padding: 6rem 6rem 2rem; 
}

/* section home and about */
.home, .about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.home-content{

}

.home-img{
    border-right: solid 0.6rem;
    border-bottom: solid 0.6rem;
    border-image: linear-gradient(135deg, transparent 50%, var(--cor2), var(--cor3)) 1;
}

.about-img{
    border-right: solid 0.6rem;
    border-bottom: solid 0.6rem;
    border-image: linear-gradient(135deg, transparent 50%, var(--cor2), var(--cor3)) 1;
}

.home-img > img, .about-img > img{
    width: 100%;

}