@charset "UTF-8";

/*fonte Nunito */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* fonte quicksilver */
@font-face {
    font-family: 'Quicksilver' ;
    src: url('fontes/Quicksilver.otf') format('opentype'), url('fontes/Quicksilver.ttf') format('trutype');
    font-style: normal;
    font-weight: normal;
}

/* animaçoes */

/* animação degrade */
@keyframes degrade{
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}
/* animação texto animado */
@keyframes texto {
    0%, 20%{
        content: "Front-end";
    }
    21%, 40%{
        content: "Back-end";
    }
    41%,60%{
        content: "MYSQL";
    }
    61%, 80%{
        content: "Jogos Digitais";}
    81%, 100%{
        content: "DevOps."; }
}

@keyframes cursor {
    0%{
        border-left: solid 2px var(--cor1);
    }
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 70%, 75%, 90%, 95%{
        width: 0;
    } 
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%,85%{
        width: calc(100% + 12px);
    }
}

:root {
    --cor4: #F2668B;
    --cor1: #1f242d;
    --cor2: #41E1F2;
    --cor3: #F2AC57;
    --cor0: #323946;
    --fonte-padrão: 'Nunito', sans-serif;
    --fonte-destaque: 'Quicksilver','Nunito'
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
    font-family: var(--fonte-padrão);
    font-size: 16px;
}

body{
    background-color: var(--cor1);
    color: white;
    padding: 0px 2%;
}

/*Classes reutilizaveis */
.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--cor2);
    border-radius: 2rem;
    color: var(--cor1);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}

.btn:hover{
    box-shadow: 0 0 0.3rem;
    background-color: inherit;
    color: var(--cor2);
    cursor: pointer;
}

span{
    color: var(--cor3);
    font-family: var(--fonte-destaque);
    font-weight: 300;
}

.social-media img{
    width: 3rem;
}


/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem;
    z-index: 100;
    background-color: var(--cor0)
}

.logo{
    font: normal bold 2.5rem var(--fonte-destaque);
    margin-left: 1.3rem;
    cursor: pointer;
    background: linear-gradient(135deg, var(--cor3), var(--cor4), var(--cor2));
    background-size: 400% 100%;
    animation: degrade 30s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.nav-responsive{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background-color: var(--cor0);
    font-size: 1.2rem;
    color: white;
    transition: 0,4s;
}

.nav > a{
    font-size: 1.2rem;
    margin: 1rem;
    color: white;
    transition: 0,4s;
}

.nav > a:hover, .nav-responsive > a:hover{
    color: var(--cor2);
}
/* fim do header */

/* section */
section{
    min-height: 100vh;
    padding: 4rem 6rem 4rem;     
}

.skill > h2,
.project > h2,
.contact > h2{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
/* final section  */
/* section home and about */
.home, .about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.home-img{
    border-right: solid 0.6rem;
    border-bottom: solid 0.6rem;
    border-image: linear-gradient(135deg, transparent 50%, var(--cor2), var(--cor3)) 1;
}

.about-img{
    border-left: solid 0.6rem;
    border-bottom: solid 0.6rem;
    border-image: linear-gradient(225deg, transparent 50%, var(--cor2), var(--cor3)) 1;
}

.home-img > img, .about-img > img{
    width: 100%;
}

.home-content, .about-content{
    width: 45%;
}

.home-content > h1, .about-content >h1{
    font-weight: 700;
    line-height: 1.5rem;
    font-size: 2.7rem;
    margin: 1rem 0;
}

.home-content > h3, .about-content > h3{
    font-weight: 700;
    font-size: 1.6rem;
}



.text-animado span{
    position: relative;
    font-family: var(--fonte-destaque);
}

.text-animado  span::before{
    content: "";
    color: var(--cor3);
    animation: texto 20s infinite;
}

.text-animado  span::after{
    content: "";
    position: absolute;
    min-height: 100%;
    border-left: 2px solid var(--cor3);
    right: -10px;
    animation: cursor .8s infinite , digita 20s steps(15) infinite;
    width: calc(100% + 12px);
    background-color: var(--cor1);
}
.home-content > P, .about-content > P{
    margin: 1.2rem;
    text-align: justify;
}

.home-content > div{
    margin-top: 1rem;
}



/* fim da  section home and about */
/* section skill*/
.skill-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skill-container > .skill-box {
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--cor0);
    background-color: var(--cor0);
    transition: 0.5s ease;
}

.skill-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin: 2rem 0 1rem 2rem;
}

.skill-container > .skill-box:hover{
    border-color: var(--cor2);
    transform: scale(1.01);
}

.skill-img{
    width: 150px;
    height: 150px;
    margin: auto;

}

.skill-box > h3{
    font-size: 1.5rem;
    margin: 1rem;
}

.skill-box > p{
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* fim da section skill */
/* section project */

.portifolio-container{
    display: grid;
    gap: 1.2rem;
}

.portifolio-box{
    margin-top: 1rem;
    position: relative;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--cor2);
    display: flex;
    overflow: hidden;
}

.image{
    width: 100px;
    height: 300px;
}
.portifolio-box > img{ 
    width: 100%;
    transition: 0.5 ease;
}

.portifolio-box img:hover{
    transform: scale(1.1);
}

.portifolio-box .portifolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--cor2));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(30rem);
    transition: 0.5s ease;
}

.portifolio-box:hover .portifolio-layer{
    transform:translateY(0);

}

.portifolio-layer > h4{
    font-size: 1.8rem;
}

.portifolio-layer > P{
    margin: 0.2rem 0 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
    
.portifolio-layer > a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(white);
    border-radius: 50%;
}

.portifolio-layer > a > svg{
    font-size: 1,2rem;
    width: 2rem;
    height: 2rem;
}

/* fim da section project  */

/* section contact */
form{
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;
}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

form .input-box  input,
form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    background-color: var(--cor0);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
}

form textarea{
    resize: none;
}
/* fim da section contact */
/* footer */
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem;
}

/* fim da section Footer */

/* menu hamburguer */
.menu-hamburguer{
    display: none;
    cursor: pointer;
} 

.bar1, .bar2, .bar3{
    width: 2rem;
    height: 0.3rem;
    background-color: white;
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1{
    transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2{
    opacity: 0;
}

.change .bar3{
    transform: translate(0, -0.65rem) rotate(45deg);
}
/* fim do menu hamburguer */

/* media Queries */
/* Extra small (xs): smartphone (portrait) */
@media (min-width: 0px) {
    .menu-hamburguer{
        display: block;
    }
    
    .nav{
        display: none;
    }

    .nav-responsive > a{
        color: white;
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    section{
        padding: 6rem, 2.5rem;
    }

    .home, .about{
        margin-top: 2rem;
        flex-direction: column;
        gap: 1.2rem;
    }

    .home-img, .about-img{
        width: 88%;
        max-width: 80%;
    }

    .home-content, .about-content{
        width: 100%;
    }

    .home-content, .about-content{
        text-align: center;
    }
    .home-content > h1, .about-content > h1{
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3rem;
    }

    .skill-container{
        flex-direction: column;
        align-items: center;
    }

    .skill-box{
        width: 100%;
    }
}

/* small (sm): smartphone (landscape) */
@media (min-width: 576px) {
    .home-img, .about-img{
        width: 65%;
        max-width: 65%;
    }

    .skill-box{
        width: 70%;
    }
}

/* Mediun (md): Tablet */
@media (min-width: 768px) {
    .menu-hamburguer{
        display: none;
    }
    .nav{
        display: block;
    }

    .nav-responsive, .nav-responsive > a{
        display: none;
    }

    .home, .about{
        flex-direction: row;
        justify-content: space-evenly;   
    }

    .home-img, .about-img{
        max-width: 35%;
    }

    .home-content, .about-content{
        width: 60%;    
    }

    .skill-box{
        width: 60%;
        margin-bottom: 2rem;
    }

    .portifolio-container{
        grid-template-columns: auto auto;
    }

    form .input-box input{
        width: 49%;
    }
}

/* Large (lg): notebook */
@media (min-width: 992px) {
    .home-img, .about-img{
        max-width: 35%;
    } 

    .skill-container{
        flex-direction: row;
        gap: 1.2rem;
    }
}
/* telas maiores */
@media (min-width: 1200px) {   
    .home-content > h1, .about-content > h1{
        font-size: 2.7rem;
    }
    
    .portifolio-container {
        grid-template-columns: auto auto auto;
    }
}
/* fim media queries */