@charset "UTF-8";

/*fonte Nunito */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* fonte quicksilver */
@font-face {
    font-family: 'Quicksilver' ;
    src: url('fontes/Quicksilver.otf') format('opentype'), url('fontes/Quicksilver.ttf') format('trutype');
    font-style: normal;
    font-weight: normal;
}

:root {
    --cor3: #F2668B;
    --cor1: #2E6F92;
    --cor2: #41E1F2;
    --cor0: #F2AC57;
    --cor4: #A09999;
  
    --fonte-padrão: 'Nunito', sans-serif;
    --fonte-destaque: 'Quicksilver','cursive'
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
    font-family: var(--fonte-padrão);
    font-size: 16px;
}

body{
    background-color: var(--cor1);
    color: white;
    max-width: 1440px;
    padding: 0px 5%;
    margin: 0 auto;
    background-color: var(--cor1);
}

header{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > a {
    display: flex;
    align-items: center;
    font: normal bold 35px var(--fonte-destaque);
    background: linear-gradient(45deg, var(--cor2),  var(--cor3), var(--cor0));
    background-size: 400% 100%;
    animation: degrade 15s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


